.navigation, .link-to-other-pages {
    list-style-type: none; 
    text-align: center;
}

.navigation a, .link-to-other-pages a {
    display: inline-block; 
    margin-right: 40px;
    margin-top: 15px;
}

.link-to-other-pages a:hover {
    color: green;
    font-weight: bold;
}

.navigation a:hover {
    font-weight: bold;
}

.navigation a.home:hover {
    color: #3D9BE9;
}

.navigation a.enhancer:hover {
    color: red;
}

.navigation a.emitter:hover {
    color: orange;
}

.navigation a.manipulator:hover {
    color: gold;
}

.navigation a.specialist:hover {
    color: teal;
}