.navigation, .link-to-other-pages {
    list-style-type: none; 
    text-align: center;
}

.navigation a, .link-to-other-pages a {
    display: inline-block; 
    margin-right: 40px;
    margin-top: 15px;
}